SECRET_KEY=ваш_секретный_ключ_джанго
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1


EMAIL_HOST='smtp.yandex.ru'
EMAIL_PORT=465
EMAIL_HOST_USER='ваш_яндекс_почтовый_ящик'
EMAIL_HOST_PASSWORD='пароль_приложения'
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL='адрес_отправителя'
SERVER_EMAIL='адрес_отправителя'
EMAIL_ADMIN='адрес_для_административных_уведомлений'

TELEGRAM_BOT_TOKEN='ваш_токен_бота'
YOUR_PERSONAL_CHAT_ID='ваш_чат_id'
VSE_GPT_API_KEY='ваш_api_ключ_все_гпт'