<!DOCTYPE html>
{% comment %} 
Ключи из словаря поста:
title
slug
post
hashtags: список
is_published: bool
views: int
likes: int
comments: список словарей:
    username
    text

{% endcomment %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Текст поста: {{post}}</p>
    <p>Теги: {{hashtags}}</p>
    <p>Просмотры: {{views}}</p>
    <p>Лайки: {{likes}}</p>
  </body>
</html>
