{% extends "base.html" %}

{% block title %}
Добавить тег
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Добавить новый тег</h1>
<form method="post">
    {% comment %} Защита от CSRF-атак {% endcomment %}
    {% csrf_token %}
    {% comment %} Отображение метки и поля ввода для имени тега {% endcomment %}
    {{ form.name.label_tag }}
    {{ form.name }}
    {% comment %} Отображение вспомогательного текста, если он есть {% endcomment %}
    {% if form.name.help_text %}
    <p><small class="form-text text-muted">{{ form.name.help_text }}</small></p>
    {% endif %}
    {% comment %} Отображение ошибок валидации для поля имени {% endcomment %}
    {% if form.name.errors %}
    <div class="alert alert-danger m-1">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
      
    
            {% comment %} Сообщение об успешной отправке. Если есть, кнопку отправить убираем {% endcomment %}
            {% if message %}
            <p class="alert alert-success">{{ message }}</p>
            {% else %}
            <button type="submit" class="btn btn-dark mt-3">Отправить</button>
            {% endif %}
</form>
{% comment %} Отображение общих ошибок формы {% endcomment %}
{% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}