{% extends "base.html" %}

{% block title %}
Добавить категорию
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Добавить новую категорию</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        
            {{ field.label_tag }}
            {{ field }}
            {{ field.help_text }}
            {% if field.errors %}
                <div class="alert alert-danger m-1">
                    {{ field.errors }}
                </div>
            {% endif %}
      
    {% endfor %}
            {% comment %} Сообщение об успешной отправки. Если есть, кнопку отправить убираем {% endcomment %}
            {% if message %}
            <p class="alert alert-success">{{ message }}</p>
            {% else %}
            <button type="submit" class="btn btn-dark mt-3">Отправить</button>
            {% endif %}
</form>
</div>
{% endblock %}