{% extends "base.html" %}

{% block title %}
Добавить категорию
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Добавить новую категорию</h1>
<form method="post">
    {% csrf_token %}
    {{ form.name.label_tag }}
    {{ form.name }}
    {% if form.name.help_text %}
    <p><small class="form-text text-muted">{{ form.name.help_text }}</small></p>
    {% endif %}
            {% if field.errors %}
                <div class="alert alert-danger m-1">
                    {{ field.errors }}
                </div>
            {% endif %}
      
    
            {% comment %} Сообщение об успешной отправки. Если есть, кнопку отправить убираем {% endcomment %}
            {% if message %}
            <p class="alert alert-success">{{ message }}</p>
            {% else %}
            <button type="submit" class="btn btn-dark mt-3">Отправить</button>
            {% endif %}
</form>
</div>
{% endblock %}