{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block title %}Каталог постов{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Каталог постов</h1>
    
    {% include 'blog_app/search_form.html' %}
    {% comment %} 
    300 - время кеширования в секундах
    blog_post_list - название кеша
    page_obj.number - номер текущей страницы (Позволяет правильно кешировать постранично)
    {% endcomment %}
    {% cache 60 blog_post_list page_obj.number %}
    <div class="row">
        {% for post in page_obj %}
            {% if post.status == 'published' %}
                <div class="col-md-6 mb-4">
                    {% include 'blog_app/post_preview_include.html' %}
                </div>
            {% endif %}
        {% empty %}
            <div class="col-12">
                <p class="text-center">Постов не найдено.</p>
            </div>
        {% endfor %}
    </div>
    {% comment %} Пагинатор {% endcomment %}
    {% comment %} Проверяем, что есть другие страницы {% endcomment %}
    {% if page_obj.has_other_pages %}
{% include 'blog_app/pagination_include.html' %}
{% endif %}

    {% endcache %}
</div>
{% endblock %}