{% extends 'base.html' %}
{% load static %}

{# Заголовок страницы #}
{% block title %}Каталог постов{% endblock %}

{# Подключение хлебных крошек #}
{% block breadcrumbs %}
    {% include 'breadcrumbs.html' %}
{% endblock %}

{# Подключение CSS стилей #}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}

{# Основной контент страницы #}
{% block content %}
<div class="container mt-4">
    {# Заголовок каталога #}
    <h1 class="mb-4">Каталог постов</h1>
    
    {# Подключение формы поиска #}
    {% include 'blog_app/search_form.html' %}
    
    {# Сетка с превью постов #}
    <div class="row">
        {% for post in posts %}
            <div class="col-md-6 mb-4">
                {% include 'blog_app/post_preview_include.html' %}
            </div>
        {% empty %}
            {# Сообщение, если посты не найдены #}
            <div class="col-12">
                <p class="text-center">Постов не найдено.</p>
            </div>
        {% endfor %}
    </div>

    {# Пагинация, если количество постов превышает лимит на странице #}
    {% if is_paginated %}
        {% include 'blog_app/pagination_include.html' %}
    {% endif %}
</div>
{% endblock %}

{# Подключение JavaScript #}
{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}