{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% comment %} Определение заголовка страницы {% endcomment %}
{% block title %}Каталог постов{% endblock %}

{% comment %} Подключение хлебных крошек {% endcomment %}
{% block breadcrumbs %}
    {% include 'breadcrumbs.html' %}
{% endblock %}

{% comment %} Подключение стилей {% endcomment %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Каталог постов</h1>
    
    {% comment %} Подключение формы поиска {% endcomment %}
    {% include 'blog_app/search_form.html' %}
    {% comment %} 
    300 - время кеширования в секундах
    blog_post_list - название кеша
    page_obj.number - номер текущей страницы (Позволяет правильно кешировать постранично)
    {% endcomment %}
    {% comment %} Начало кеширования списка постов {% endcomment %}
    {% cache 60 blog_post_list posts.number %}
    <div class="row">
        {% comment %} Цикл для вывода постов {% endcomment %}
        {% for post in posts %}
            {% comment %} Проверка статуса поста {% endcomment %}
            {% if post.status == 'published' %}
                <div class="col-md-6 mb-4">
                    {% comment %} Подключение шаблона предпросмотра поста {% endcomment %}
                    {% include 'blog_app/post_preview_include.html' %}
                </div>
            {% endif %}
        {% empty %}
            <div class="col-12">
                <p class="text-center">Постов не найдено.</p>
            </div>
        {% endfor %}
    </div>
    {% comment %} Пагинатор {% endcomment %}
    {% comment %} Проверяем, что есть другие страницы {% endcomment %}
    {% comment %} Создание контекста для пагинации {% endcomment %}
    {% with page_obj=posts %}
    {% if page_obj.has_other_pages %}
    {% comment %} Подключение шаблона пагинации {% endcomment %}
    {% include 'blog_app/pagination_include.html' %}
    {% endif %}
    {% endwith %}
    {% endcache %}
</div>
{% endblock %}
{% comment %} Подключение скриптов {% endcomment %}
{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}