{% load md_to_html %}

{# Проверка, является ли текущий пользователь автором комментария #}
{% if user == comment.author %}
<div class="comment user-comment mb-3 p-3 rounded">
{% else %}
<div class="comment other-comment mb-3 p-3 rounded">
{% endif %}
  <div class="d-flex justifyсят-between align-items-center mb-2">
    {# Отображение имени автора комментария #}
    <h6 class="mb-0"><i class="bi bi-person-fill me-1"></i>{{ comment.author.username }}</h6>
    {# Отображение даты и времени создания комментария #}
    <small class="text-muted"><i class="bi bi-clock me-1"></i>{{ comment.created_at|date:"d M Y H:i" }}</small>
  </div>
  {# Преобразование текста комментария из Markdown в HTML с подсветкой синтаксиса #}
  <div class="mb-0">
    {% md_to_html comment.text %}
  </div>
</div>