{% extends 'base.html' %}
{% comment %} 
Ключи из словаря поста:
title
slug
post
hashtags: список
is_published: bool
views: int
likes: int
comments: список словарей:
    username
    text

{% endcomment %}



{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container my-5">
  <h1>{{ post.title }}</h1>
  <p>Текст поста: {{ post.text }}</p>
  <p>Теги: 
    {% for hashtag in post.tags %}
      <span class="hashtag">{{ hashtag }}</span>
    {% endfor %}
  </p>
  {% comment %} <p>Просмотры: {{ views }}</p>
  <p>Лайки: {{ likes }}</p> {% endcomment %}
</div>
{% endblock %}