{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.webp' %}" alt="ЛОГОТИП" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        {% for item in menu %}
        <li class="nav-item">
          <a class="nav-link {% if item.alias == page_alias %}active{% endif %}" href="{% url item.alias %}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>